<h2><%= params[:username] %></h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Playback Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each_with_index do |track, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= track['title'] %></td>
        <td><%= track['playback_count'] %></td>
        <td><%= link_to 'listen on soundcloud', track['permalink_url'], class: 'btn btn-default', target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
